* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3F0808;
    background-color: #FCF8F4;
}

/* changes size of the logo */
#logoSidebar {
    display: inline-block;
    width: auto;
    height: 12%;
}

/* SOURCE: How To Create a Fixed Sidebar. (n.d.). https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
#sidebar {
    height: 100%;
    width: 275px;
    /* width: 30vw;
    max-width: 350px; limits size of the sidebar on wider screens */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; /* stays on top */
    background-color: #743B3B;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
}

#sidebar h1 {
    color: #FCF8F4;
    padding-top: 25px;
    padding-bottom: 75px;
    font-size: xx-large;
}

/* sidebar tab styling */
#sidebar a {
    font-size: 35px;
    font-weight: bolder;
    text-decoration: none;
    background-color: #FCF8F4;
    padding: 25px 10px 25px 40px; /* top right bottom left */
    border-radius: 15px 0px 0px 15px; /* top-left top-right bottom-right bottom-left */
    margin-left: 15px;
    display: block;
    pointer-events: none;
}

#sidebar a:hover, a:visited, a:active {
    color: inherit; /* stops the link colour from changing when clicked */
}

#sidebar #addTab {
    background-color: #BD4E4E; /* changes colour for the unfocused tab */
}

/* SOURCE: How To Create a Fixed Sidebar. (n.d.). https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
main {
    margin-left: 275px; /* same dimensions as the sidebar, allows content to be seen essentially*/
    padding: 0px 25px;
}

/* SOURCE: How To Create a Popup Form With CSS. (n.d.). https://www.w3schools.com/howto/howto_js_popup_form.asp */
/* floating action button used to open the form to add a book, position is fixed to the bottom right of the page */
.openForm {
    display: flex;
    background-color: #BD4E4E;
    color:#FCF8F4;
    font-size: xx-large;
    font-weight: bold;
    filter: drop-shadow(0px 3px 2px #997245);
    width: 75px;
    height: 75px;
    /* centering the plus symbol below */
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* visual cue for interactivity when cursor hovers over the button */
.openForm:hover, .viewButton img:hover, .delButton img:hover, #closeBookButton:hover, #submitButton:hover {
    transform: scale(1.1);
    transition: 0.05s;
}

/* positioning of the book adding form container */
.formContainer {
    display: none;
    position: fixed;
    top: 15%;
    left: 25%;
    z-index: 9;
    max-width: 750px;
    margin-left: 180px;
}

form {
    font-size: larger;
    width: 550px;
    padding: 25px;
    background-color: #EBD9C7;
    filter: drop-shadow(0px 3px 2px #997245);
}

form label {
    /* display: inline-block; */
    padding-right: 20px;
    /* margin-right: 50px; */
}

.radioLabel {
    font-size: large;
    color: #743B3B;
}

input[type=radio] {
    width: 20px;
    height: 20px;
}

form input[type=text], form input[type=number], form select {
    margin: 10px 0px;
    padding: 10px 10px;
    background-color: #FCF8F4;
    color: #743B3B;
    font-size: medium;
    width: 500px;
    border-radius: 5px;
    border: none;
    border-bottom: #997245 solid 2px;
}

/* SOURCE: How To Hide Arrows From Number Input. (n.d.). https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* removes the number input arrows in the form */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#bookForm #closeBookButton {
    background-color: #BD4E4E;
    color: #FCF8F4;
    margin: 10px 5px 10px 0px;
    padding: 10px 15px;
}

/* styling the form buttons */
#closeBookButton, #submitButton {
    font-size: large;
    padding: 10px 15px;
    text-align: center;
    /* border: #997245 solid; */
    border: none;
    margin-top: 25px;
    margin-bottom: 5px;
    filter: drop-shadow(0px 3px 2px #997245);
    border-radius: 15px;
}

/* display flex for smaller containers, more compact view of items in the tracker */
/* #bookList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
} */

/* for each item in the list, it displays a rectangle section */
#bookList > div {
    list-style-type: none;
    background-color: #EBD9C7;
    padding: 10px 10px;
    margin: 10px;
    filter: drop-shadow(0px 3px 2px #997245);
    display: flex;
    /* flex-wrap: wrap;
    flex-grow: 1;
    width: 300px;
    height: 500px;
    justify-content: center; */
}

#bookList div:hover {
    background-color: #F2E8DE;
}

#bookList div img {
    margin: 10px 30px 10px 10px;
    /* align-items: center; */
}

#bookList div p {
    font-size: large;
    margin: 25px 25px 5px 5px;
    /* justify-content: center; */
}

/* old CSS for close & view buttons when they weren't appended to a container of their own */
/* #bookList div a {
    width: 50px;
    height: 50px;
    margin: 25px 15px;
    /* justify-content: right;
} */

/* contains the view and close button */
.buttonContainer {
    margin-top: 15px;
    position: absolute;
    right: 5px;
}

#bookList div div a {
    width: 50px;
    height: 50px;
    margin: 25px auto;
    /* justify-content: right; */
}

/* blurring the background for contrast when viewing in-depth information */
.backgroundBlur {
    display: none;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(252, 248, 244, 0.75);
}

/* for viewing in-depth information about a book */
#moreInformation {
    display: none;
    background-color: #EBD9C7;
    filter: drop-shadow(0px 3px 2px #997245);
    padding: 10px;
    margin-left: 15px;
    position: fixed;
    /* top: 5vh;
    left: 275; */
    top: 25%;
    left: 25%;
}

#viewThumbnail, #closeViewButton {
    margin: 10px 10px;
}

#viewThumbnail {
    float: left;
}

/* all of the book information */
#bookDescription {
    display: none;
    margin: auto 25px;
    font-size: larger;
}

#closeViewButton {
    display: none;
    float: right;
}

@media screen and (max-width: 750px) {
    #logoSidebar {
        width: auto;
        height: 50%;
    }

    #sidebar {
        height: 135px;
        width: 100%;
        overflow-y: hidden;
        padding-top: 15px;
        padding-left: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #sidebar h1 {
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 50px;
    }
    
    /* tabs are just floating in the middle, not what I was going for */
    #sidebar a {
        font-size: 25px;
        font-weight: bolder;
        text-decoration: none;
        background-color: #FCF8F4;
        padding: 15px 25px 15px 25px; /* top right bottom left */
        border-radius: 10px 10px 0px 0px; /* top-left top-right bottom-right bottom-left */
        margin-left: 0px;
        align-items: flex-end;
    }

    main, .formContainer {
        margin-left: 0px;
        margin-top: 135px; /* same dimensions as the sidebar, allows content to be seen essentially*/
        padding: 20px 20px;
    }

    .formContainer {
        margin-top: 15px;
    }

    form input, form select {
        width: 400px;
        display: flex;
        /* justify-content: flex-end; */
        flex-wrap: nowrap;
    }
}